html, body, ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  font-family: Open Sans, sans-serif; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3125em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

* {
  line-height: 1.5em;
  box-sizing: border-box; }

html {
  height: 100%; }

header {
  margin-bottom: 2em; }

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-content {
  max-width: 64em;
  margin: 0 auto;
  flex: 1; }

.site-footer {
  background: black;
  color: white;
  margin-top: 2em;
  padding: .5em 2em; }

.hidden {
  display: none; }

.main-navigation {
  text-align: right;
  background: black;
  position: relative;
  border-bottom: 1px solid grey;
  margin-bottom: 2em; }
  .main-navigation .menu {
    position: absolute;
    right: 0;
    top: 3em;
    background: black;
    transition: all 0.5s ease; }
  .main-navigation li {
    padding: 0.5em;
    border-bottom: 1px solid grey;
    transition: background-color 0.5s ease; }
    .main-navigation li:hover {
      background-color: #d53030; }
  .main-navigation ul {
    list-style: none; }
  .main-navigation i {
    color: white;
    padding: 1em;
    font-size: 1em; }
    .main-navigation i:hover {
      cursor: pointer;
      color: #d53030; }
  .main-navigation a {
    color: white;
    text-decoration: none; }
    .main-navigation a:hover {
      text-decoration: none; }

.site-branding {
  text-align: center; }
